.section{
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 12px;
}

.tech{
  display: flex;
  align-items: center;
  justify-content: baseline;
}

.changebut{
  display: flex;
  gap: 20px;
  align-items: center;
  flex-direction: row-reverse;
  margin-top: 10px;
  margin-bottom: 20px;
}